body {
  background-color: #3b2e8f;
  font-family: 'Open Sans', sans-serif;
}

h1 {
 font-size: 34px;
 margin: 0;
 font-weight: 600;
}

h3 {
 font-size: 16px;
 margin: 0;
 font-weight: 700;
}

h4 {
 font-size: 11px;
 margin: 0;
 font-weight: 400;
}

h5 {
 font-size: 11px;
 font-weight: 600;
 margin: 25px 0 25px 0;
}

h6 {
 font-weight: 600;
 margin: 0;
}

.container {
 margin: 0 auto;
   width: 300px;
   background-color: white;
   position: relative;
   overflow: hidden;
}

.first {
 margin-top: 70px;
 height: 300px;
}

.second {
 margin-top: 0px;
 height: 120px;
 border-top: 1px solid #f0f2f5;
}

.top {
 top: -10px;
 position: absolute;
   width: 18px;
   height: 18px;
   border-radius: 100%;
   background-color: #f0f2f5;
}
.bottom {
 bottom: -10px;
 position: absolute;
   width: 18px;
   height: 18px;
   border-radius: 100%;
   background-color: #f0f2f5;
}
.left {
 left: -10px;
 position: absolute;
   width: 18px;
   height: 18px;
   border-radius: 100%;
   background-color: #f0f2f5;
}
.right {
 right: -10px;
 position: absolute;
   width: 18px;
   height: 18px;
   border-radius: 100%;
   background-color: #f0f2f5;
}

.spacer {
 padding: 25px 20px 20px 20px;
}

.spacer2 {
 padding: 15px 20px 20px 20px;
}

.spacer > img {
 width: 100%;
 float: left;
}

.name-flight {
 float: left;
}

.name-flight > h3 {
 text-transform: uppercase;
 color: #4b4091;
}

.name-flight > h4 {
 color: #7c7c7c;
 margin-top: -5px;
}

h4 > span {
 font-size: 15px;
 font-weight: 700;
 color: #d9118d;
}

.destination {
 margin-top: 70px;
}

.from {
 float: left;
 color: #5d6474;
}

.center {
 float: left;
 width: 33%;

}

i {
 color: #5d6474;
 padding-top: 15px;
 padding-left: 25%;
}

.to {
 float: left;
 width: 33%;
 color: #5d6474;
}

.from > span {
 font-size: 12px;
 font-weight: 600;
}

.to > span {
 font-size: 12px;
 font-weight: 600;
}

.left-side {
 float: left;
 width: 33%;
}

h5 > span {
 font-weight: 700;
 font-size: 15px;
 color: #da0d8d;
}


.right-side {
 float: right;
 width: 33%;
}

h5 {
 color: #5e6675;
}

.spacer2 > h3 {
 color: #4b4091;
 text-transform: uppercase;
 text-align: center;
}

.flight-gate {
 float: left;
 width: 66%;
 margin-top: 15px;
}

.flight-gate > h5 {
 margin: 0 0 5px 0;
}

.text-barcode > img {
 float: left;
 width: 33%;
 margin-top: 5px;
}